.MultiPlatform{
  height: calc(100vh - 164px);
  /* backface-visibility: hidden; */
}
.MultiPlatform{
  overflow-y: auto;
  /* Rediculous cool scroll shadows: http://lea.verou.me/2012/04/background-attachment-local/ */
  /* Requires specified background colour, in this case #fafafa */
  background:
		/* Shadow covers */
		linear-gradient(#fafafa 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), #fafafa 70%) 0 100%,
		
		/* Shadows */
		radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background:
		/* Shadow covers */
		linear-gradient(#fafafa 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), #fafafa 70%) 0 100%,
		
		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: #fafafa;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	
	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
}

.MultiPlatform .androidPixel{
  height: 260px;
  padding: 20px;
}
.MultiPlatform > section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.MultiPlatform > section > .sectionText{
  padding: 0 20px;
}
