.Switcher {
}
.Switcher .bubble{
  width: 100px;
  height: 100px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  border-radius: 50%;
  transition: all 0.2s;
  overflow: hidden;
  filter: grayscale(80%);
  position: relative;
  background-color: white;
}
.Switcher .bubble:hover, .Switcher .bubble.active{
  box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
  filter: none;
}
.Switcher .bubble > *{
  transition: all 0.2s;
  transform: scale(0.8, 0.8);
  height: 100%;
}
.Switcher .bubble:hover > *, .Switcher .bubble.active > *{
  transform: scale(1, 1);
}
.Switcher p{
  margin-top: 10px;
}
.Switcher .bubbleInner{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.Switcher .link{
  display: inline-block;
  cursor: pointer;

  position: fixed;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  backface-visibility: hidden;
}
.Switcher .link.bottom{
  bottom: 30px;
}
